<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Welcome to Code Connections!test</h2>
        <form id="login-form" action="/login" method="post">
          <input type="text" name="loginEmail" placeholder="Email">
          <input type="text" name="loginPassword" placeholder="Password">
          <input type="submit">
        </form>
        <a href="/register">Register</a>
    </div>
  </div>
</div>


