debugger;

<div>
    <h2>You have matches!</h2>
    <h3>Tom Jones</h3>
    <p>Java, C++, HTML, CSS, JavaScript</p>
    <h3>Noel Fielding</h3>
    <p>HTML, CSS, JavaScript, MERN Stack</p>
    <h3>Kurt Russell</h3>
    <p>C++, C#, SQL</p>
    <p>Java, C++, HTML, CSS, JavaScript</p>
</div>
       <script src="../server.js"></script>