<p>{{firstName}}</p>
<p>{{lastName}}</p>
<p>{{email}}</p>
<p>Please Answer the questions.</p>
<form>
    <p>Do you have more experience in front end or back end web development?</p>
    <select class="chosen-select" id="q1">
        <option value=""></option>
        <option value="1">Front End</option>
        <option value="2">Back End</option>
    </select>
    <br>
    <p>How many years of experience do you have in SQL?</p>
    <select class="chosen-select" id="q2">
        <option value=""></option>
        <option value="1">less than 1</option>
        <option value="2">1 to 5</option>
        <option value="3">6 to 10</option>
        <option value="4">11 to 15</option>
        <option value="5">15 plus</option>
    </select>
    <br>
    <p>How many years of experience do you have in Java?</p>
    <select class="chosen-select" id="q3">
        <option value=""></option>
        <option value="1">less than 1</option>
        <option value="2">1 to 5</option>
        <option value="3">6 to 10</option>
        <option value="4">11 to 15</option>
        <option value="5">15 plus</option>
    </select>
    <br>
  

    <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit"><i class="fa fa-check-circle"
            aria-hidden="true"></i>
        Submit</button>
</form>

    <a href="/login"></a>

      <script src="../js/index.js"></script>
Collapse



