<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>New Coder? Let's get you registered! test</h2>
        <form id="registration-form" action="/registerSubmit/" method="post">
          <input type="text" name="firstName" placeholder="First Name">
          <input type="text" name="lastName" placeholder="Last Name">
          <input type="text" name="email" placeholder="Email">
          <input type="text" name="username" placeholder="Username">
          <input type="text" name="password" placeholder="Password">
          <input type="submit">
        </form>
        <a href="/">Login</a>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="../js/index.js"></script>
